<section  id="education" class="education">
  <h2 class="section-title">🎓 My Education</h2>

  <div class="timeline">
    <!-- Item 1 -->
    <div class="timeline-item">
      <div class="timeline-content">
        <h3>Bachelor of Technology (B.Tech) in Artificial Inteligence And Machine Learning</h3>
        <span class="date">2020 - 2024</span>
        <p>Alva's Institute of Engineering and Technology , Moodabidri</p>
        <p><b>CGPA:</b> 9.2 / 10</p>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="timeline-item">
      <div class="timeline-content">
        <h3>Higher Secondary (12th)</h3>
        <span class="date">2018 - 2020</span>
        <p>Ambika Padavi Poorva Vidyalaya, Nellikatte</p>
        <p><b>Percentage:</b> 81%</p>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="timeline-item">
      <div class="timeline-content">
        <h3>Secondary (10th)</h3>
        <span class="date">2015 - 2017</span>
        <p>Priyadarshini Higher Primary School, Bettampady</p>
        <p><b>Percentage:</b> 91%</p>
      </div>
    </div>
  </div>
</section>
