<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<img src="imgs/lkqlogo.jpg" alt="loklogo">
    <!-- <a class="navbar-brand">LKQ</a> -->
    <style>
      body {
        background-image: url('lkqtruck.jpg');
      }
      </style>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto ms-5 mb-2 mb-lg-0">
        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="/menu">Menu</a>
        </li>

        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="/about">About</a>
        </li>

        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="/wishlist">wishlist</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item d-flex align-items-center">
            <span class="navbar-text me-2 text-dark">Welcome, {{ username || 'Guest' }}  </span>
            <button class="btn btn-warning btn-sm" type="button" routerLink="/register">Log off</button>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
