<nav class="navbar">
  <div class="navbar-container">
    <!-- logo first (left) -->
    <a class="logo" href="#home">Bhoomika</a>

    <!-- links go to the right -->
    <ul class="nav-links">
      <li><a href="#home">Home</a></li>

      <li><a href="#skills">Skills</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="assets/Bhoomika_.pdf" target="_blank" class="resume-btn">Resume</a></li>
    </ul>
  </div>
</nav>
