<section  id="skills" class="skills">
  <div class="section-title">
    <h2>Skills</h2>
  </div>

  <div class="skills-container">

    <!-- AI / ML -->
    <div class="skill-card">
      <h3>Artificial Intelligence & Machine Learning</h3>
      <ul>
        <li>Machine Learning Algorithms</li>
      </ul>
    </div>

    <!-- Programming -->
    <div class="skill-card">
      <h3>Programming</h3>
      <ul>
        <li>Python</li>
        <li>TypeScript</li>
        <li>C# (.NET Core)</li>
      </ul>
    </div>

    <!-- Web Development -->
    <div class="skill-card">
      <h3>Web Development</h3>
      <ul>
        <li>Angular 18 (Frontend)</li>
        <li>.NET Core 6 (Backend)</li>
        <li>REST API Development</li>
        <li>SQL Database</li>
      </ul>
    </div>

  </div>
</section>
