<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->
<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Home Section -->
<app-home></app-home>

<!-- About Section -->


<!-- Skills Section -->
<app-skills></app-skills>

<!-- Education Section -->
<app-education></app-education>

<!-- Experience Section -->
<app-experiance></app-experiance>

<!-- Projects Section -->
<app-projects></app-projects>

<!-- Contact Section -->
<app-contact></app-contact>

<!-- Footer -->
<app-footer></app-footer>
